header {
    width: 100%;
    height: 150px;
    img {
        height: 80px;
        width: auto;
    }
    ul {
        display: flex;
        text-transform: uppercase;
    }
    .header-top {
        width: 100%;
        height: 20px;
        padding: .2rem 0;
        font-size: .7rem;
        font-weight: bold;
        background-color: $main-brand-color;
        color: white;
        ul {
            justify-content: flex-end;
            align-items: center;
            li {
                margin-left: 2rem;
            }
        }
    }
    nav {
        height: calc(100% - 20px);
        display: flex;
        align-items: center;
        .container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            ul {
                align-items: center;
                li {
                    margin: 0 1rem;
                    font-weight: bold;
                    color: $grey-text;
                }
                .active {
                    color: $main-brand-color;
                }
            } 
            input {
                align-self: center;
            }
        }
        
    }
}